* {
  margin: 0 auto;
  padding: 0;
  text-decoration: none
}

body {
  background: #555;
}

header {
  position: fixed;
  width: 100%;
  background: #333;
}

.logo {
  position: relative;
  z-index: 123;
  padding: 10px;
  font: 18px verdana;
  color: #6DDB07;
  float: left;
  width: 15%
}

.logo a {
  color: #6DDB07;
}

nav {
  position: fixed;
  width: 980px;
  margin: 0 auto;
  z-index: 99999;
}

#cssmenu, #cssmenu ul, #cssmenu ul li, #cssmenu ul li a, #cssmenu #head-mobile {
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box
}

#cssmenu:after, #cssmenu>ul:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0
}

#cssmenu #head-mobile {
  display: none
}

#cssmenu {
  font-family: sans-serif;
  background: #333
}

#cssmenu>ul>li {
  float: left
}

#cssmenu>ul>li>a {
  padding: 17px;
  font-size: 12px;
  letter-spacing: 1px;
  text-decoration: none;
  color: #ddd;
  font-weight: 700;
}

#cssmenu>ul>li:hover>a, #cssmenu ul li.active a {
  color: #fff
}

#cssmenu>ul>li:hover, #cssmenu ul li.active:hover, #cssmenu ul li.active, #cssmenu ul li.has-sub.active:hover {
  background: #448D00 !important;
  -webkit-transition: background .3s ease;
  -ms-transition: background .3s ease;
  transition: background .3s ease;
}

#cssmenu>ul>li.has-sub>a {
  padding-right: 30px
}

#cssmenu>ul>li.has-sub>a:after {
  position: absolute;
  top: 22px;
  right: 11px;
  width: 8px;
  height: 2px;
  display: block;
  background: #ddd;
  content: ''
}

#cssmenu>ul>li.has-sub>a:before {
  position: absolute;
  top: 19px;
  right: 14px;
  display: block;
  width: 2px;
  height: 8px;
  background: #ddd;
  content: '';
  -webkit-transition: all .25s ease;
  -ms-transition: all .25s ease;
  transition: all .25s ease
}

#cssmenu>ul>li.has-sub:hover>a:before {
  top: 23px;
  height: 0
}

#cssmenu ul ul {
  position: absolute;
  left: -9999px
}

#cssmenu ul ul li {
  height: 0;
  -webkit-transition: all .25s ease;
  -ms-transition: all .25s ease;
  background: #333;
  transition: all .25s ease
}

#cssmenu ul ul li:hover {}

#cssmenu li:hover>ul {
  left: auto
}

#cssmenu li:hover>ul>li {
  height: 35px
}

#cssmenu ul ul ul {
  margin-left: 100%;
  top: 0
}

#cssmenu ul ul li a {
  border-bottom: 1px solid rgba(150, 150, 150, 0.15);
  padding: 11px 15px;
  width: 170px;
  font-size: 12px;
  text-decoration: none;
  color: #ddd;
  font-weight: 400;
}

#cssmenu ul ul li:last-child>a, #cssmenu ul ul li.last-item>a {
  border-bottom: 0
}

#cssmenu ul ul li:hover>a, #cssmenu ul ul li a:hover {
  color: #fff
}

#cssmenu ul ul li.has-sub>a:after {
  position: absolute;
  top: 16px;
  right: 11px;
  width: 8px;
  height: 2px;
  display: block;
  background: #ddd;
  content: ''
}

#cssmenu ul ul li.has-sub>a:before {
  position: absolute;
  top: 13px;
  right: 14px;
  display: block;
  width: 2px;
  height: 8px;
  background: #ddd;
  content: '';
  -webkit-transition: all .25s ease;
  -ms-transition: all .25s ease;
  transition: all .25s ease
}

#cssmenu ul ul>li.has-sub:hover>a:before {
  top: 17px;
  height: 0
}

#cssmenu ul ul li.has-sub:hover, #cssmenu ul li.has-sub ul li.has-sub ul li:hover {
  background: #363636;
}

#cssmenu ul ul ul li.active a {
  border-left: 1px solid #333
}

#cssmenu>ul>li.has-sub>ul>li.active>a, #cssmenu>ul ul>li.has-sub>ul>li.active>a {
  border-top: 1px solid #333
}

@media screen and (max-width:1000px) {
  .logo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 46px;
    text-align: center;
    padding: 10px 0 0 0;
    float: none
  }

  .logo2 {
    display: none
  }

  nav {
    width: 100%;
  }

  #cssmenu {
    width: 100%
  }

  #cssmenu ul {
    width: 100%;
    display: none
  }

  #cssmenu ul li {
    width: 100%;
    border-top: 1px solid #444
  }

  #cssmenu ul li:hover {
    background: #363636;
  }

  #cssmenu ul ul li, #cssmenu li:hover>ul>li {
    height: auto
  }

  #cssmenu ul li a, #cssmenu ul ul li a {
    width: 100%;
    border-bottom: 0
  }

  #cssmenu>ul>li {
    float: none
  }

  #cssmenu ul ul li a {
    padding-left: 25px
  }

  #cssmenu ul ul li {
    background: #333 !important;
  }

  #cssmenu ul ul li:hover {
    background: #363636 !important
  }

  #cssmenu ul ul ul li a {
    padding-left: 35px
  }

  #cssmenu ul ul li a {
    color: #ddd;
    background: none
  }

  #cssmenu ul ul li:hover>a, #cssmenu ul ul li.active>a {
    color: #fff
  }

  #cssmenu ul ul, #cssmenu ul ul ul {
    position: relative;
    left: 0;
    width: 100%;
    margin: 0;
    text-align: left
  }

  #cssmenu>ul>li.has-sub>a:after, #cssmenu>ul>li.has-sub>a:before, #cssmenu ul ul>li.has-sub>a:after, #cssmenu ul ul>li.has-sub>a:before {
    display: none
  }

  #cssmenu #head-mobile {
    display: block;
    padding: 23px;
    color: #ddd;
    font-size: 12px;
    font-weight: 700
  }

  .button {
    width: 55px;
    height: 46px;
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    z-index: 12399994;
  }

  .button:after {
    position: absolute;
    top: 22px;
    right: 20px;
    display: block;
    height: 4px;
    width: 20px;
    border-top: 2px solid #dddddd;
    border-bottom: 2px solid #dddddd;
    content: ''
  }

  .button:before {
    -webkit-transition: all .3s ease;
    -ms-transition: all .3s ease;
    transition: all .3s ease;
    position: absolute;
    top: 16px;
    right: 20px;
    display: block;
    height: 2px;
    width: 20px;
    background: #ddd;
    content: ''
  }

  .button.menu-opened:after {
    -webkit-transition: all .3s ease;
    -ms-transition: all .3s ease;
    transition: all .3s ease;
    top: 23px;
    border: 0;
    height: 2px;
    width: 19px;
    background: #fff;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg)
  }

  .button.menu-opened:before {
    top: 23px;
    background: #fff;
    width: 19px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg)
  }

  #cssmenu .submenu-button {
    position: absolute;
    z-index: 99;
    right: 0;
    top: 0;
    display: block;
    border-left: 1px solid #444;
    height: 46px;
    width: 46px;
    cursor: pointer
  }

  #cssmenu .submenu-button.submenu-opened {
    background: #262626
  }

  #cssmenu ul ul .submenu-button {
    height: 34px;
    width: 34px
  }

  #cssmenu .submenu-button:after {
    position: absolute;
    top: 22px;
    right: 19px;
    width: 8px;
    height: 2px;
    display: block;
    background: #ddd;
    content: ''
  }

  #cssmenu ul ul .submenu-button:after {
    top: 15px;
    right: 13px
  }

  #cssmenu .submenu-button.submenu-opened:after {
    background: #fff
  }

  #cssmenu .submenu-button:before {
    position: absolute;
    top: 19px;
    right: 22px;
    display: block;
    width: 2px;
    height: 8px;
    background: #ddd;
    content: ''
  }

  #cssmenu ul ul .submenu-button:before {
    top: 12px;
    right: 16px
  }

  #cssmenu .submenu-button.submenu-opened:before {
    display: none
  }

  #cssmenu ul ul ul li.active a {
    border-left: none
  }

  #cssmenu>ul>li.has-sub>ul>li.active>a, #cssmenu>ul ul>li.has-sub>ul>li.active>a {
    border-top: none
  }
}

.building {
  width: 100%;
  height: 20%;
}

/*  .img-wrapper {
      position: relative;
      width: 100%;
      font-size: 0;
    }

    .img-overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(128, 128, 128, 0.5);
    }

    .img-wrapper img {
      width: 100%;
    }*/
.bioButtons {
  display: flex;
  justify-content: center;
  min-width: 50px; // add this if you want
  max-width: 300px; // add this if  you want, adjust accordingly
  max-height: 30px;
  padding-top: 30px;
}
}

.button {
  background-color: #4CAF50;
  /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s;
  /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}

.button1 {
  background-color: white;
  color: black;
  border: 1px solid #000000;
  border-radius: 8px;
  width: 150px;
  height: 30px;
}

.button1:hover {
  background-color: #4CAF50;
  color: white;
}

.button2 {
  background-color: white;
  color: black;
  border: 1px solid #000000;
  border-radius: 8px;
  width: 150px;
  height: 30px;
}

.button2:hover {
  background-color: #008CBA;
  color: white;
}

.button3 {
  background-color: white;
  color: black;
  border: 1px solid #000000;
  border-radius: 8px;
  width: 150px;
  height: 30px;
}

.button3:hover {
  background-color: #f44336;
  color: white;
}

.button4 {
  background-color: white;
  color: black;
  border: 1px solid #000000 ;
  border-radius: 8px;
  width: 150px;
  height: 30px;
}

.button4:hover {
  background-color: #e7e7e7;
}

.button5 {
  background-color: white;
  color: black;
  border: 1px solid #000000 ;
  border-radius: 8px;
  width: 150px;
  height: 30px;
}

.button5:hover {
  background-color: #555555;
  color: white;
}

.button6 {
  background-color: white;
  color: black;
  border: 1px solid #000000 ;
  border-radius: 8px;
  width: 150px;
  height: 30px;
}

.button6:hover {
  background-color: #800080;
  color: white;
}

#social-platforms{
  padding-top: 30px;
  text-align: center;
  width: 100%;
}


.btn {
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.35);
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;
  font-size: .8em;
  display: inline-block;


}

.btn:hover {
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.45);
}

.btn:focus {
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.4);
}

.btn>span, .btn-icon>i {
  float: left;
  padding: 13px;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;
  line-height: 1em
}

.btn>span {
  padding: 14px 18px 16px;
  white-space: nowrap;
  color: #FFF;
  background: #b8b8b8
}

.btn:focus>span {
  background: #9a9a9a
}

.btn-icon>i {
  border-radius: 5px 0 0 5px;
  position: relative;
  width: 13px;
  text-align: center;
  font-size: 1.25em;
  color: #fff;
  background: #212121
}

.btn-icon>i:after {
  content: "";
  border: 8px solid;
  border-color: transparent transparent transparent #222;
  position: absolute;
  top: 13px;
  right: -15px
}

.btn-icon:hover>i, .btn-icon:focus>i {
  color: #FFF
}

.btn-icon>span {
  border-radius: 0 5px 5px 0
}

/*Facebook*/
.btn-facebook:hover>i, .btn-facebook:focus>i {
  color: #3b5998
}

.btn-facebook>span {
  background: #3b5998
}

/*Twitter*/
.btn-twitter:hover>i, .btn-twitter:focus>i {
  color: #55acee;
}

.btn-twitter>span {
  background: #55acee
}

/*Google*/
.btn-googleplus:hover>i, .btn-googleplus:focus>i {
  color: #dd4b39
}

.btn-googleplus>span {
  background: #dd4b39
}

/*Pinterest*/
.btn-pinterest:hover>i, .btn-pinterest:focus>i {
  color: #cb2028
}

.btn-pinterest>span {
  background: #cb2028
}

/*LinkedIn*/
.btn-linkedin:hover>i, .btn-linkedin:focus>i {
  color: #007bb6
}

.btn-linkedin>span {
  background: #007bb6
}

}

img.ri {
  position: fixed;
  max-width: 60%;
  top: 10%;
  left: 10%;
  border-radius: 3px;
  padding-top: 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.9);

}

@media screen and (orientation: portrait) {
  .ri {
    max-width: 90%;
  }
}

@media screen and (orientation: landscape) {
  .ri {
    max-height: 90%;
  }
}

/* modal 1,2,3,4,5,6*/
/* The Modal (background) */
.modal1, .modal2, .modal3, .modal4, .modal5, .modal6 {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content */
.modal-content1,.modal-content2,.modal-content3,.modal-content4,.modal-content5,.modal-content6{
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0
  }

  to {
    top: 0;
    opacity: 1
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0
  }

  to {
    top: 0;
    opacity: 1
  }
}

/* The Close Button */
.close1, .close2, .close3, .close4, .close5, .close6 {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close1:hover, .close2:hover, .close3:hover, .close4:hover, .close5:hover, .close6:hover,
.close1:hover, .close2:hover, .close3:hover, .close4:hover, .close5:hover, .close6:hover {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header1,.modal-header2,.modal-header3,.modal-header4,.modal-header5,.modal-header6 {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

.modal-body1,.modal-body2,.modal-body3,.modal-body4,.modal-body5,.modal-body6 {
  padding: 2px 16px;
}

.modal-footer1,.modal-footer2,.modal-footer3,.modal-footer4,.modal-footer5,.modal-footer6 {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}
ul {
 list-style-type: none;
 }

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #6d808f;
  text-align: center;
}
